APP_HOST="0.0.0.0"
APP_PORT=2113
OPENAI_URI="https://localhost:11434/v1"
OPENAI_MODEL="mistral:latest"
OPENAI_IGNORE_SSL="True"
MLFLOW_TRACKING_URI="http://localhost:5000"
MLFLOW_EXPERIMENT_NAME="ReAct Agent"
